#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button {
  font-size: 1.5rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

#on {
  background-color: green;
  color: white;
}

#off {
  background-color: red;
  color: white;
}
